body {
    height: 100vh;
    background-image: linear-gradient(#151515, #300082 155%);
    color: white;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea,
button,
input {
    padding: 0.75rem;
    background-color: rgb(44, 44, 44);
    color: white;
    border: 1px solid gray;
    border-radius: 4px;
    resize: none;
}

input[type="submit"]:hover {
    background-color: #3a3a3a;
}

.content-generator,
form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
    width: 350px;
}

#widget {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 20px;
    background-color: rgb(46, 13, 117);
    border-radius: 8px;
}

#currency-status {font-weight: bold; margin-bottom: 5px;}
.connected {color: lightgreen;}
.disconnected {color: red;}
.connecting {color: yellow; }
#price {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
}